@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scroll::-webkit-scrollbar { width: 4px; }
  .custom-scroll::-webkit-scrollbar-thumb { background: #6366f1; border-radius: 10px; }
  .badge-8k { background: linear-gradient(135deg, #f5e020, #fa9c0f); color: white; }
  .badge-4k { background: #ef4444; color: white; }
  .badge-hd { background: #3b82f6; color: white; }
}
